<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/components/styles.css' />
  </head>
  <body>
    <!-- GenerateWord -->
    <div class="flex">
      <div class="flexItem">
        <button class="btnPrimary">Generate Word</button>
      </div>
      <div class="flexItem">
        <div class="wordWrapper">Test</div>
      </div>
      <div class="flexItem">
        <button class="btnSaveWord">Save</button>
      </div>
    </div>
    <!-- ShowWord -->
    <div class="flex">
      <div class="flexItem">
        <button class="btnShowWords">Show Words</button>
        <div class="wordsList">
          <div class="box">
            <div class="boxTitle">Words</div>
            <ul>
              <li>Test</li>
              <li>Test 2</li>
            </ul>
            <div class="boxFooter">
              <button class="btnDefault">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
